# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
**/out
overlays/
leaf-core/src/main/resources/config.properties
leaf-core/src/main/webapp/WEB-INF/classes/profiles/dev/config.properties
leaf-core/src/main/webapp/WEB-INF/uncertain.local.xml

# Mac
.DS_Store

# Maven
**/target
**/*.log
**/*.tmp

