# Eclipse
.classpath
.project
.settings/

# Intellij
*.iml
*.iws
**/out
overlays/
core/src/main/resources/config.properties
core/src/main/webapp/WEB-INF/classes/profiles/dev/config.properties
core/src/main/webapp/WEB-INF/uncertain.local.xml
core/src/main/webapp/WEB-INF/classes/logback.xml
# Mac
.DS_Store

# Maven
**/target
**/*.log
**/*.tmp

/.gitignore
/core/src/main/resources/profiles/
core/src/main/webapp/user_role_home_page.lview
.idea/
!/.gitignore
