@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr
	{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	display: block;
}

ul li {
	list-style: none;
}

i {
	font-style: normal;
}

.top {
	height: 64px;
	background: url(bg.jpg)  repeat-x;
}

.header {
	width: 100%;
	height: 64px;
	position: relative;
	margin: 0 auto;
}

.logo {
	height: 64px;
	width: 143px;
	left:5px;
	position: absolute;
	background: url(logo.png) no-repeat;
}

.nav {
	float: left;
	margin: 0 0 0 151px;
	width: 85%;
}

.title {
	float: right;
	font-size: 13px;
	position: relative;
	padding: 25px 2px 0 0;
	margin: 0 15px 0 15px;
	cursor: pointer;
	line-height: 39px;
	height: 39px;  
}

.title i {
	display: inline-block;
	padding: 11px 19px 11px 20px;
}

.title a {
	color: #16469a;
	text-decoration: none;
	font-weight: bold;
}

.app_box {
	width: 100%;
	margin: 0 auto;
	height: 380px;
	position: relative;
	margin-top: 40px;
}

.app_list {
	width: 100%;
	overflow: hidden;
}

.list_h {
	margin-top: 30px;
}

.js-slide {
	width: 180px;
	float: left;
	margin-right: 25px;
	height: 122px;
	background: url(bg_line.jpg) no-repeat bottom;
}

.list_box {
	background-color: #4e9cef;
	height: 108px;
}

.app_icon {
	width: 180px;
	height: 65px;
}

.icon1 {
	background: url(icon1.png) no-repeat bottom;
}

.icon2 {
	background: url(icon2.png) no-repeat bottom;
}

.icon3 {
	background: url(icon3.png) no-repeat bottom;
}

.icon4 {
	background: url(icon4.png) no-repeat bottom;
}

.icon5 {
	background: url(icon5.png) no-repeat bottom;
}

.icon6 {
	background: url(icon6.png) no-repeat bottom;
}

.icon7 {
	background: url(icon7.png) no-repeat bottom;
}

.icon8 {
	background: url(icon8.png) no-repeat bottom;
}

.icon9 {
	background: url(icon9.png) no-repeat bottom;
}

.app_text {
	height: 24px;
	margin-top: 5px;
	line-height: 24px;
	text-align: center;
}

b {
	font-size: 14px;
	color: #FFF;
	font-weight: normal;
}

.js-slide2 {
	width: 180px;
	float: left;
	margin-right: 25px;
	height: 50px;
	background: url(bg_line.jpg) no-repeat bottom;
}

.js-last {
	margin: 0px;
}

.list_box2 {
	height: 36px;
	background-color: #6a7a89;
	line-height: 36px;
	text-align: center;
}

.icon_nub {
	position: absolute;
	width: 34px;
	height: 26px;
	left: 160px;
	top: -13px;
	z-index: 999;
	text-align: center;
	color: #FFF;
	padding: 3px 0 0 0;
	background: url(nub.png) no-repeat;
}

.icon_nub1 {
	position:absolute;
	width:34px;
	height:26px;
	left: 365px;
	top: -13px;
	z-index:999;
	text-align:center;
	color:#FFF;
	padding:3px 0 0 0;
	background:url(nub.png) no-repeat;
}

.nub2 {
	position: absolute;
	width: 34px;
	height: 26px;
	left: 182px;
	top: 13px;
	z-index: 999;
	text-align: center;
	color: #FFF;
	padding: 3px 0 0 0;
	background: url(nub.png) no-repeat;
}

.bg_banner {
	background: url(b_bg.gif) repeat-x;
	height: 28px;
	line-height: 28px;
}

.banner {
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.b_left {
	float: left;
	font-size: 12px;
	color: #FFF;
}

.b_right {
	float: right;
	font-size: 12px;
	color: #FFF;
}

.b_ul {
	float: right;
}

.b_li {
	float: left;
	color: #FFF;
	font-size: 12px;
	position: relative;
	padding: 0 15px 0 15px;
	cursor: pointer;
	line-height: 30px;
	height: 28px;
}

.b_li a {
	text-align: center;
	float: left;
	overflow: hidden;
	color: white;
	text-decoration: none;
	background: transparent url(images/globalnav.png) -102px 0px no-repeat;
}

.box {
	width: 960px;
	margin: 0 auto;
	position: relative;
	margin-top: 0px;
	height: 600px;
	padding: 20px;
	background-color: #EEE;
}

.l_side {
	float: left;
	width: 200px;
	height: 430px;
	border: 1px solid #c6c6c6;
	background-color: #FFF;
}

.r_mod {
	float: left;
	width: 738px;
	margin-left: 20px;
}

.mod {
	position: relative;
	display: inline;
	float: left;
	width: 357px;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #c6c6c6;
	height: 190px;
}

.mod_left {
	margin-right: 20px;
}

.mod_hd {
	display: block;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-size: 14px;
	color: #FFF;
	border-bottom: 1px solid #c6c6c6;
}

.market_hd {
	text-indent: 10px;
	background-color: #b0b0b0;
}

.mod_hd_l {
	width: 110px;
	background-color: #5d84a3;
	text-align: center;
}

.mod2 {
	position: relative;
	display: inline;
	float: left;
	width: 736px;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #c6c6c6;
	height: 140px;
}

.mod_a {
	width: 245px;
	height: 130px;
	float: left;
}

.mod_wrap {
	padding: 0 10px;
	overflow: hidden;
	height: 130px;
}

.mod-header {
	height: 24px;
	line-height: 24px;
	margin-top: 10px;
}

.mod-header h4 {
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #c6c6c6;
}

.mod-con {
	margin-top: 10px;
}

.mod-con li {
	display: inline;
	float: left;
	width: 100px;
	font-size: 14px;
	line-height: 28px;
	color: #999;
	overflow: hidden;
}

.mod-con p {
	line-height: 28px;
	font-size: 14px;
	color: #999;
}

.mod3 {
	position: relative;
	display: inline;
	float: left;
	width: 720px;
	background-color: #fff;
	margin-bottom: 10px;
	border: 1px solid #c6c6c6;
	height: 55px;
	padding-left: 16px;
}

.mod_side {
	width: 128px;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
	height: 45px;
	background: url(bg_line.jpg) no-repeat bottom;
}

.mod_side_tab {
	width: 128px;
	background-color: #6a7a89;
	text-align: center;
	line-height: 31px;
	height: 31px;
}

.mod_side_r {
	margin-left: 20px;
}

.mod-notice {
	margin: 20px 10px 20px 10px;
	font-size: 14px;
}

.mod-con a {
	color: #999;
	line-height: 18px;
	display: block;
}

.table {
	
}

.table td {
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #999;
	vertical-align: baseline;
}

.table_a {
	background: url(nub2.jpg) center no-repeat;
	text-align: center;
	width: 35px;
	height: 17px;
}

.table_a a {
	color: #FFF;
	font-size: 12px;
}

.div_pic {
	margin: 10px;
}

.list {
	line-height: 24px;
	height: 24px;
}

.mod-con p {
	line-height: 24px;
	height: 24px;
}



.old_li {
	float: left;
	color: #FFF;
	font-size: 12px;
	position: relative;
	padding: 0 15px 0 15px;
	cursor: pointer;
	line-height: 30px;
	height: 28px;
	background-color: rgb(209,223,234);
}

.old_li a {
	text-align: center;
	float: left;
	overflow: hidden;
	color: #015996;
	text-decoration: none;
	background: transparent url(images/globalnav.png) -102px 0px no-repeat;
}
