@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr
	{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

div {
	display: block;
}

ul li {
	list-style: none;
}

i {
	font-style: normal;
}

.top {
	background-color: #228bdc;
	height: 64px;
}

.header {
	height: 64px;
	position: relative;
	margin: 0 auto;
}

.logo {
	height: 64px;
	width: 134px;
	position: absolute;
	background: url(logo.jpg) no-repeat;
}

.nav {
	float: left;
	margin: 0 0 0 151px;
	width: 85%;
}

.title {
	float: left;
	font-size: 14px;
	position: relative;
	padding: 0 2px 0 0;
	margin: 0 15px 0 15px;
	cursor: pointer;
	line-height: 64px;
	height: 64px;
}

.title i {
	display: inline-block;
	padding: 11px 19px 11px 20px;
}

.title a {
	color: #FFF;
	text-decoration: none;
}

.app_box {
	width:100%;
	margin:0 auto;
	height:380px;
	position:relative;
	margin-top:40px;
}
.app_list {
	width:100%;
	overflow:hidden;
}
.list_h {
	margin-top: 30px;
}
.js-slide {
	background:url(bg_line.jpg) repeat-x bottom;
}
.list_box {
	background-color:#0088d1;
	height:130px;
	cursor:pointer;
}
.app_icon {
	width:180px;
	height:65px;
}
.icon1 {
	background:url(icon1.png) no-repeat bottom;
}
.icon2 {
	background:url(icon2.png) no-repeat bottom;
}
.icon3 {
	background:url(icon3.png) no-repeat bottom;
}
.icon4 {
	background:url(icon4.png) no-repeat bottom;
}
.icon5 {
	background:url(icon5.png) no-repeat bottom;
}
.icon6 {
	background:url(icon6.png) no-repeat bottom;
}
.icon7 {
	background:url(icon7.png) no-repeat bottom;
}
.icon8 {
	background:url(icon8.png) no-repeat bottom;
}
.icon9 {
	background:url(icon9.png) no-repeat bottom;
}

.app_text {
	height: 24px;
	margin-top:5px;
	line-height:24px;
	text-align:center;
}
b {
	font-size: 14px;
	color:#fff;
	font-weight:bold; 
}
.js-slide2 {
	width:180px;
	float:left;
	margin-right: 25px;
	height:50px;
	background:url(bg_line.jpg) no-repeat bottom;
}
.js-last {
	margin:0px;
}
.list_box2 {
	height:36px;
	background-color:#6a7a89;
	line-height:36px;
	text-align:center;
}
.icon_nub {
	position:relative;
	width:34px;
	float:right;
	height:26px;
	top: -10px;
	right:-10px;
	z-index:999;
	text-align:center;
	color:#FFF;
	padding:3px 0 0 0;
	background:url(todo.png) no-repeat;
}

.icon_nub1 {
	position:absolute;
	width:34px;
	height:26px;
	left: 365px;
	top: -13px;
	z-index:999;
	text-align:center;
	color:#FFF;
	padding:3px 0 0 0;
	background:url(nub.png) no-repeat;
}


.nub2 {
	position:relative;
	float:right;
	width:34px;
	height:24px;
	z-index:999;
	text-align:center;
	color:#FFF;
	padding:0 0 0 0;
	top:-25px;
	background:url(nub.png) no-repeat;
}
.bg_banner {
	background:url(b_bg.gif) repeat-x;
	height:28px;
	line-height:28px;
}
.banner {
	width:100%;
	height:28px;
	position:relative;
	margin:0 auto;
}
.b_left {
	float:left;
	font-size:12px;
	color:#FFF;
}
.b_right {
	float:right;
	font-size:12px;
	color:#FFF;
}
.b_ul {
	width:265px;
	float:right;
}
.b_li {
	float:left;
	color:#FFF;
	font-size:12px;
	position:relative;
	padding: 0 15px 0 15px;
    cursor: pointer;
    line-height: 28px;
	height:28px;
}
.box {
	width:960px;
	margin:0 auto;
	position:relative;
	margin-top:40px;
	height:600px;
	padding:20px;
	background-color:#EEE;
}
.l_side {
	float:left; 
	width:100%; 
	height:100%;
	border:1px solid #c6c6c6;
	background-color:#FFF;
}
.r_mod {
	float:left; 
	width:738px; 
	margin-left:20px;
}
.mod {
	position: relative;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
	border:1px solid #c6c6c6;
	height:230px;
}

.mod_hd {
	display: block;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-size:14px;
	color:#FFF;
	border-bottom:1px solid #c6c6c6;
}
.market_hd {
	text-indent:10px;
	background-color:#b0b0b0;
}
.mod_hd_l {
	width: 110px;
	background-color:#5d84a3;
	text-align:center;
}
.mod2 {
	position: relative;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
	border:1px solid #c6c6c6;
	height:100%;
}
.mod_a {
	width: 33%;
	height:100%;
	float:left;
}
.mod_wrap {
	padding: 0 10px;
    overflow: hidden;
	height:100%;
}
.mod-header {
	height:24px;
	line-height:24px;
	margin-top:10px;
}
.mod-header h4 {
	font-size:14px;
	color:#333;
	border-bottom:1px solid #c6c6c6;
}
.mod-con {
	margin-top:10px;
}
.mod-con li {
	display: inline;
    float: left;
	width:100px;
	font-size:14px;
	line-height: 28px;
	color:#999;
    overflow: hidden;
}
.mod-con p {
	line-height:28px;
	font-size:14px;
    color:#999;
}
.mod3 {
	position: relative;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
	border:1px solid #c6c6c6;
	height:55px;
}
.mod_side {
	width:128px;
	float:left;
	margin-top: 10px;
	margin-right: 15px;
	height:45px;
	background:url(bg_line.jpg) no-repeat bottom;
}
.mod_side_tab {
	width:128px;
	background-color:#6a7a89;
	text-align:center;
	line-height:31px;
	height:31px;
}
.mod_side_r {
	margin-left: 20px;
}
.mod-notice {
	margin: 20px 10px 20px 10px;
	font-size:14px;
}
.mod-con a {
	color:#999;
	line-height:18px;
	display:block;
}
.table {
}
.table td {
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#999;
	vertical-align:baseline;
}
.table_a {
	background:url(nub2.jpg) center no-repeat;
	text-align:center;
	width:35px;
	height:17px;
}
.table_a a {
	color:#FFF;
	font-size:12px;
}
.div_pic {
	margin:10px;
}
.list {
	line-height:24px;
	height:24px;
}
.mod-con p {
	line-height:24px;
	height:24px;
}


.list_box_n1 {
	background-color:#db552d;
	height:130px;
	cursor:pointer;
}
.list_box_n2 {
	background-color:#4cbb49;
	height:130px;
	cursor:pointer;
}
.list_box_n3 {
	background-color:#a100a9;
	height:130px;
	cursor:pointer;
}
.list_box_n4 {
	background-color:#bc1c48;
	height:130px;
	cursor:pointer;
}

.todo_icon {
	width:30px;
	height:25px;
}
.icon {
	background:url(todo1.png) no-repeat bottom;
}

.todo_app { 
	width:180px;
	height:65px;
	background:url(icon9.png) no-repeat bottom;
	position: relative;
	border:0px;
}


.todolist_box {
	background-color:#00acee;
	height:130px;
	position: relative;
	cursor:pointer;
}
.todo_icon_s1 {
	position:relative;
	width:40px;
	float:right;
	height:50px;
	top: 0px;
	right:0px;
	z-index:999;
	color:#FFF;
	padding:3px 0 0 0;
	background:url(todo.png) no-repeat;
}
.todo_icon_text {
	position:relative;
	font-size: 14px;
	color:#fff;
	font-weight:bold; 
	top:5px;
}
 