<application-config xmlns="leaf.application" enableBMTrace="true">
	<application-view-config defaultPackage="ui.template" defaultTemplate="default" defaultTheme="hap" defaultTitle="中关村租赁业务管理系统" defaultAutoAdjustGrid="false" resourceCacheName="SystemResourceConfig" defaultFuzzyFetch="true" defaultEditorBorder="false" defaultClientResize="false" />
</application-config>