<cache-factory-config xmlns="uncertain.cache" defaultCacheFactory="RedisCacheFactory">
	<cache-factories>
		<map-based-cache-factory name="InMemory" />
        <redis-cache-factory xmlns="leaf.cache.redis" name="RedisCacheFactory"/>
        <redis-composite-map-cache-factory xmlns="leaf.cache.redis" name="RedisCompositeMapCacheFactory"/>
        <leaf-cache-factory xmlns="leaf.cache" name="LeafCacheFactory"/>
		<!--<memcached-client-factory xmlns="leaf.plugin.memcached" name="Memcached" serverList="localhost:9999"/>-->
	</cache-factories>

    <!--<cache-mappings>-->
    <!--<cache-mapping name="BusinessModel" cacheFactory="InMemory" enabled="false"/>-->
    <!--<cache-mapping name="ProcedureConfig" cacheFactory="InMemory" enabled="false" />-->
    <!--<cache-mapping name="WebResource" cacheFactory="InMemory" enabled="false" />-->
    <!--<cache-mapping name="DocumentLayout" cacheFactory="InMemory" enabled="true" />-->
    <!--&lt;!&ndash; <cache-mapping name="ResponseCache" cacheFactory="Memcached" enabled="false" /> &ndash;&gt;-->
    <!--<cache-mapping name="ViewComponentTemplates" cacheFactory="InMemory" enabled="false" />-->
    <!--<cache-mapping name="DataCache" cacheFactory="InMemory" enabled="true"/>-->
    <!--</cache-mappings>-->


<!--	<cache-mappings>
		<cache-mapping name="BusinessModel" cacheFactory="RedisCacheFactory" enabled="false"/>
		<cache-mapping name="ProcedureConfig" cacheFactory="RedisCacheFactory" enabled="false" />
		<cache-mapping name="WebResource" cacheFactory="RedisCacheFactory" enabled="false" />
		<cache-mapping name="DocumentLayout" cacheFactory="RedisCacheFactory" enabled="true" />
		<cache-mapping name="ViewComponentTemplates" cacheFactory="RedisCacheFactory" enabled="false" />
		<cache-mapping name="DataCache" cacheFactory="RedisCacheFactory" enabled="true"/>
	</cache-mappings> -->
    <cache-mappings>

        <cache-mapping name="BusinessModel" cacheFactory="RedisCacheFactory" enabled="false"/>
        <cache-mapping name="ProcedureConfig" cacheFactory="RedisCacheFactory" enabled="false"/>
        <cache-mapping name="WebResource" cacheFactory="RedisCompositeMapCacheFactory" enabled="false"/>
        <cache-mapping name="DocumentLayout" cacheFactory="RedisCacheFactory" enabled="true"/>
        <!-- <cache-mapping name="ResponseCache" cacheFactory="RedisCacheFactory" enabled="false" /> -->

        <cache-mapping name="ViewComponentTemplates" cacheFactory="RedisCacheFactory" enabled="false"/>
        <cache-mapping name="DataCache" cacheFactory="RedisCompositeMapCacheFactory" enabled="true"/>

        <cache-mapping name="SystemResourceConfig" cacheFactory="LeafCacheFactory" enabled="true"/>
        <cache-mapping name="MultiLanguageCache" cacheFactory="LeafCacheFactory" enabled="true"/>
        <cache-mapping name="RoleBmAccess" cacheFactory="LeafCacheFactory" enabled="true"/>
        <cache-mapping name="RoleServiceAccess" cacheFactory="LeafCacheFactory" enabled="true"/>
        <cache-mapping name="lookupListCache" cacheFactory="LeafCacheFactory" enabled="true"/>
        <cache-mapping name="lookupPromptCache" cacheFactory="LeafCacheFactory" enabled="true"/>
        <cache-mapping name="promptCache" cacheFactory="LeafCacheFactory" enabled="true"/>
    </cache-mappings>

</cache-factory-config>