<?xml version="1.0" encoding="UTF-8"?>
<msg:Leaf-client-instance xmlns:msg="leaf.application.features.msg" >
	    <messageHandlers>
	        <msg:DefaultMessageHandler name="refreshPriviledge" procedure="init.load_priviledge_check_data"/>
	        <msg:DefaultMessageHandler name="refreshService" procedure="init.load_system_service"/>
	        <msg:DefaultMessageHandler name="removeLayout" procedure="layout.load_layout_code_config"/>
	    </messageHandlers>
		
	    <consumers>
	        <msg:consumer topic="application_foundation">
	            <events>
	                <msg:event handler="refreshPriviledge" message="priviledge_setting_change"/>
	                <msg:event handler="refreshService" message="service_config_change"/>
	                <msg:event handler="removeLayout" message="remove_layout"/>
	            </events>
	        </msg:consumer>
			<msg:DefaultNoticeConsumer topic="dml_event"/>
			<msg:DefaultNoticeConsumer topic="task"/>
	    </consumers>
</msg:Leaf-client-instance>