<participant-manager xmlns="uncertain.event">
	<participant-list category="service">
		<participant class="leaf.service.json.JSONServiceInterpreter" />
		<participant class="leaf.plugin.export.ModelOutput" />
        <participant class="leaf.application.action.DoDispatch"/>
        <participant class="leaf.application.features.DataSetInit"/>
		<participant class="leaf.application.features.cstm.ConfigCustomizationListener"/>
        <participant class="leaf.application.features.CachedScreenListener"/>
		<participant class="leaf.application.features.UploadInit"/>
		<participant class="leaf.service.lock.SessionLockChecker"/>
		<participant class="leaf.application.features.RequestRecorder"/>
		<participant class="leaf.security.AccessCheck"/>
		<participant class="leaf.service.exception.ScreenException"/>
		<participant class="hls.layout.cstm.DynamicLayoutListener"/>
	</participant-list>	
</participant-manager>